#Exclude data folders
/data/

#Enviroment variables
.env

#Results of predictions
/results/predictions/
#experiments
notebooks/data_preparation/s5-prediction-ranges-mdsupdrs.ipynb
src/pipeline/prediction_from_excel.py
#Cache files
__pycache__/